::-webkit-scrollbar {
    width: 20px;
  }


  /* encompasses most of the site*/

.form-card { 

}


/* groups fields together*/
.field-card { 

}


.import-button {
    float: right
}

.create-button {
    float: left
}

.remove-button {
    background-color: red;
    color: white
}