/* Fonts can be found in src/assets/fonts */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: normal; /* or 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: bold; /* or 700 */
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: normal; /* or 400 */
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../assets/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: bold; /* or 700 */
  font-style: italic;
}